<h1>{{ userId ? 'Edit' : 'Create'}}</h1>
<form *ngIf="formGroup" [formGroup]="formGroup" (submit)="onSubmit()">
  <table>
    <tr>
      <td>
        <label for="name">User Name:</label>
      </td>
      <td>
        <input type="text" name="name" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="status">Status:</label>
      </td>
      <td>
        <select name="status" formControlName="status">
          <option [value]="status.authorized">Authorized</option>
          <option [value]="status.deleted">Deleted</option>
        </select>
      </td>
    </tr>
  </table>
  <button [disabled]="!formGroup.valid" class="app-button positive" type="submit">Submit</button>
</form>
