 <!-- [roles]="userRoles$ | async" -->
<do-provide-rules>
  <div class="nav-bar">
    <a class="app-button positive" *ngIf="appPermissions.canSeeUserList | doCan"  [routerLink]="['list']">User List</a>
    <a class="app-button positive" *ngIf="appRules.isUnauthorized | doCan" [routerLink]="['login']">Login</a>
    <a class="app-button positive" *ngIf="userId$ | async as userId" [routerLink]="['profile', userId]">My profile</a>
    <button class="app-button negative" *ngIf="appPermissions.canLogout | doCan" type="button" (click)="onLogout()">Logout</button>
  </div>
  <div class="app">
    <router-outlet></router-outlet>
  </div>
  <div class="debug">
    <do-debug></do-debug>
  </div>
</do-provide-rules>
