
.app {
  height: 100%;
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  width: 100%;

  .left-nav-btn {
    position: absolute;
    left: 0;
  }
}

.main {
  margin: 20px auto;
}

.hidden-debug {
  overflow: hidden;
  width: 0;
  transition: width 1s;
  background-color: black;
  color: green;
}

.body {
  display: block;
  width: 100%;
  padding: 0 20px;
}

.app.debug-on {
  .hidden-debug {
    overflow: auto;
    width: 50%;
  }
}

.center {
  text-align: center;
}
