<h1>User List</h1>

<ul>
  <li *ngFor = "let user of (userList$ | async)">
    <a [routerLink]="['/', 'profile', user.id]" [title]="user.name" [class.deleted] = "user.deleted">
      {{user.name}}
      <div class="controls">
        <a class="app-button neutral" [routerLink]="['/', 'edit', user.id]">
          Edit
        </a>
        <button class="app-button negative" type="button" [disabled]="user.deleted" (click)="onDelete($event, user.id)">Delete</button>
        <button class="app-button positive" type="button" [disabled]="!user.deleted " (click)="onRestore($event, user.id)">Restore</button>
      </div>
    </a>
  </li>
</ul>

<a class="app-button positive" [routerLink]="['/', 'create']">
  Add
</a>
